:root {
    --main-font: "Roboto";
    --main-font-size: 1.25rem;
    --small-font-size: 1rem;
    --line-height: 2rem;
    --text-indent: 0.5rem;
    --small-text-indent: 0.375rem;
    --padding-4: 1rem;
}

*:focus {
    outline: none;
    /*box-shadow: 0 0 0 2px rgba(70, 130, 180, 0.8);
    *//*
    box-shadow: 0 3px 0 0 blue;
    */
}

input:focus {
    left: -2px;
    right: -2px;
    bottom: -2px;
    top: -2px;
    border-bottom: 2px solid blue;
    z-index: 1;
}

html, body, #app {
    width: 100%;
    height: 100%;
    background: #ccc;
}

table {
    border-collapse: collapse;
}

tbody {
    display: block;
    overflow: auto;
}

thead, tbody tr{
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}

div {
    background: #fff;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
    font-size: var(--main-font-size);
}

/* Base grid */
[class*='col-'] {
    float: left;
    box-sizing: border-box;
}

/* Columns for all screens */
[class*='col-'] {
    width: 100%;
}

/* Grid for 480px screen */
@media only screen and (min-width: 480px) {
    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.66%; }
    .col-12 { width: 100%; }
}

/* Grid for 720px screen */
@media only screen and (min-width: 720px) {
    .col-s-1 { width: 8.33%; }
    .col-s-2 { width: 16.66%; }
    .col-s-3 { width: 25%; }
    .col-s-4 { width: 33.33%; }
    .col-s-5 { width: 41.66%; }
    .col-s-6 { width: 50%; }
    .col-s-7 { width: 58.33%; }
    .col-s-8 { width: 66.66%; }
    .col-s-9 { width: 75%; }
    .col-s-10 { width: 83.33%; }
    .col-s-11 { width: 91.66%; }
    .col-s-12 { width: 100%; }
}

/* Grid for 960px screen */
@media only screen and (min-width: 960px) {
    .col-m-1 { width: 8.33%; }
    .col-m-2 { width: 16.66%; }
    .col-m-3 { width: 25%; }
    .col-m-4 { width: 33.33%; }
    .col-m-5 { width: 41.66%; }
    .col-m-6 { width: 50%; }
    .col-m-7 { width: 58.33%; }
    .col-m-8 { width: 66.66%; }
    .col-m-9 { width: 75%; }
    .col-m-10 { width: 83.33%; }
    .col-m-11 { width: 91.66%; }
    .col-m-12 { width: 100%; }
}

/* Grid for 1080px screen */
@media only screen and (min-width: 1080px) {
    .col-l-1 { width: 8.33%; }
    .col-l-2 { width: 16.66%; }
    .col-l-3 { width: 25%; }
    .col-l-4 { width: 33.33%; }
    .col-l-5 { width: 41.66%; }
    .col-l-6 { width: 50%; }
    .col-l-7 { width: 58.33%; }
    .col-l-8 { width: 66.66%; }
    .col-l-9 { width: 75%; }
    .col-l-10 { width: 83.33%; }
    .col-l-11 { width: 91.66%; }
    .col-l-12 { width: 100%; }
}

/* Grid for 1440px screen */
@media only screen and (min-width: 1440px) {
    .col-xl-1 { width: 8.33%; }
    .col-xl-2 { width: 16.66%; }
    .col-xl-3 { width: 25%; }
    .col-xl-4 { width: 33.33%; }
    .col-xl-5 { width: 41.66%; }
    .col-xl-6 { width: 50%; }
    .col-xl-7 { width: 58.33%; }
    .col-xl-8 { width: 66.66%; }
    .col-xl-9 { width: 75%; }
    .col-xl-10 { width: 83.33%; }
    .col-xl-11 { width: 91.66%; }
    .col-xl-12 { width: 100%; }
}

/* Grid for 1920px screen */
@media only screen and (min-width: 1920px) {
    .col-xxl-1 { width: 8.33%; }
    .col-xxl-2 { width: 16.66%; }
    .col-xxl-3 { width: 25%; }
    .col-xxl-4 { width: 33.33%; }
    .col-xxl-5 { width: 41.66%; }
    .col-xxl-6 { width: 50%; }
    .col-xxl-7 { width: 58.33%; }
    .col-xxl-8 { width: 66.66%; }
    .col-xxl-9 { width: 75%; }
    .col-xxl-10 { width: 83.33%; }
    .col-xxl-11 { width: 91.66%; }
    .col-xxl-12 { width: 100%; }
}
/* Padding classes for all screens */
[class*='pleft-'] {
    padding-left: 0px;
}


/* Padding for 480px screen */
@media only screen and (min-width: 480px) {
    .pl-1 { padding-left: 8.33%; }
    .pl-2 { padding-left: 16.66%; }
    .pl-3 { padding-left: 25%; }
    .pl-4 { padding-left: 33.33%; }
    .pl-5 { padding-left: 41.66%; }
    .pl-6 { padding-left: 50%; }
    .pl-7 { padding-left: 58.33%; }
    .pl-8 { padding-left: 66.66%; }
    .pl-9 { padding-left: 75%; }
    .pl-10 { padding-left: 83.33%; }
    .pl-11 { padding-left: 91.66%; }
    .pl-12 { padding-left: 100%; }
}

/* Padding for 720px screen */
@media only screen and (min-width: 720px) {
    .pl-s-1 { padding-left: 8.33%; }
    .pl-s-2 { padding-left: 16.66%; }
    .pl-s-3 { padding-left: 25%; }
    .pl-s-4 { padding-left: 33.33%; }
    .pl-s-5 { padding-left: 41.66%; }
    .pl-s-6 { padding-left: 50%; }
    .pl-s-7 { padding-left: 58.33%; }
    .pl-s-8 { padding-left: 66.66%; }
    .pl-s-9 { padding-left: 75%; }
    .pl-s-10 { padding-left: 83.33%; }
    .pl-s-11 { padding-left: 91.66%; }
    .pl-s-12 { padding-left: 100%; }
}

/* Padding for 960px screen */
@media only screen and (min-width: 960px) {
    .pl-m-1 { padding-left: 8.33%; }
    .pl-m-2 { padding-left: 16.66%; }
    .pl-m-3 { padding-left: 25%; }
    .pl-m-4 { padding-left: 33.33%; }
    .pl-m-5 { padding-left: 41.66%; }
    .pl-m-6 { padding-left: 50%; }
    .pl-m-7 { padding-left: 58.33%; }
    .pl-m-8 { padding-left: 66.66%; }
    .pl-m-9 { padding-left: 75%; }
    .pl-m-10 { padding-left: 83.33%; }
    .pl-m-11 { padding-left: 91.66%; }
    .pl-m-12 { padding-left: 100%; }
}

/* Padding for 1080px screen */
@media only screen and (min-width: 1080px) {
    .pl-l-1 { padding-left: 8.33%; }
    .pl-l-2 { padding-left: 16.66%; }
    .pl-l-3 { padding-left: 25%; }
    .pl-l-4 { padding-left: 33.33%; }
    .pl-l-5 { padding-left: 41.66%; }
    .pl-l-6 { padding-left: 50%; }
    .pl-l-7 { padding-left: 58.33%; }
    .pl-l-8 { padding-left: 66.66%; }
    .pl-l-9 { padding-left: 75%; }
    .pl-l-10 { padding-left: 83.33%; }
    .pl-l-11 { padding-left: 91.66%; }
    .pl-l-12 { padding-left: 100%; }
}

/* Padding for 1440px screen */
@media only screen and (min-width: 1440px) {
    .pl-xl-1 { padding-left: 8.33%; }
    .pl-xl-2 { padding-left: 16.66%; }
    .pl-xl-3 { padding-left: 25%; }
    .pl-xl-4 { padding-left: 33.33%; }
    .pl-xl-5 { padding-left: 41.66%; }
    .pl-xl-6 { padding-left: 50%; }
    .pl-xl-7 { padding-left: 58.33%; }
    .pl-xl-8 { padding-left: 66.66%; }
    .pl-xl-9 { padding-left: 75%; }
    .pl-xl-10 { padding-left: 83.33%; }
    .pl-xl-11 { padding-left: 91.66%; }
    .pl-xl-12 { padding-left: 100%; }
}

/* Padding for 1920px screen */
@media only screen and (min-width: 1920px) {
    .pl-xxl-1 { padding-left: 8.33%; }
    .pl-xxl-2 { padding-left: 16.66%; }
    .pl-xxl-3 { padding-left: 25%; }
    .pl-xxl-4 { padding-left: 33.33%; }
    .pl-xxl-5 { padding-left: 41.66%; }
    .pl-xxl-6 { padding-left: 50%; }
    .pl-xxl-7 { padding-left: 58.33%; }
    .pl-xxl-8 { padding-left: 66.66%; }
    .pl-xxl-9 { padding-left: 75%; }
    .pl-xxl-10 { padding-left: 83.33%; }
    .pl-xxl-11 { padding-left: 91.66%; }
    .pl-xxl-12 { padding-left: 100%; }
}

/* Margin classes for all screens */
[class*='mleft-'] {
    margin-left: 0px;
}

/* Margin for 480px screen */
@media only screen and (min-width: 480px) {
    .ml-1 { margin-left: 8.33%; }
    .ml-2 { margin-left: 16.66%; }
    .ml-3 { margin-left: 25%; }
    .ml-4 { margin-left: 33.33%; }
    .ml-5 { margin-left: 41.66%; }
    .ml-6 { margin-left: 50%; }
    .ml-7 { margin-left: 58.33%; }
    .ml-8 { margin-left: 66.66%; }
    .ml-9 { margin-left: 75%; }
    .ml-10 { margin-left: 83.33%; }
    .ml-11 { margin-left: 91.66%; }
    .ml-12 { margin-left: 100%; }
}

/* Margin for 720px screen */
@media only screen and (min-width: 720px) {
    .ml-s-1 { margin-left: 8.33%; }
    .ml-s-2 { margin-left: 16.66%; }
    .ml-s-3 { margin-left: 25%; }
    .ml-s-4 { margin-left: 33.33%; }
    .ml-s-5 { margin-left: 41.66%; }
    .ml-s-6 { margin-left: 50%; }
    .ml-s-7 { margin-left: 58.33%; }
    .ml-s-8 { margin-left: 66.66%; }
    .ml-s-9 { margin-left: 75%; }
    .ml-s-10 { margin-left: 83.33%; }
    .ml-s-11 { margin-left: 91.66%; }
    .ml-s-12 { margin-left: 100%; }
}

/* Margin for 960px screen */
@media only screen and (min-width: 960px) {
    .ml-m-1 { margin-left: 8.33%; }
    .ml-m-2 { margin-left: 16.66%; }
    .ml-m-3 { margin-left: 25%; }
    .ml-m-4 { margin-left: 33.33%; }
    .ml-m-5 { margin-left: 41.66%; }
    .ml-m-6 { margin-left: 50%; }
    .ml-m-7 { margin-left: 58.33%; }
    .ml-m-8 { margin-left: 66.66%; }
    .ml-m-9 { margin-left: 75%; }
    .ml-m-10 { margin-left: 83.33%; }
    .ml-m-11 { margin-left: 91.66%; }
    .ml-m-12 { margin-left: 100%; }
}

/* Margin for 1080px screen */
@media only screen and (min-width: 1080px) {
    .ml-l-1 { margin-left: 8.33%; }
    .ml-l-2 { margin-left: 16.66%; }
    .ml-l-3 { margin-left: 25%; }
    .ml-l-4 { margin-left: 33.33%; }
    .ml-l-5 { margin-left: 41.66%; }
    .ml-l-6 { margin-left: 50%; }
    .ml-l-7 { margin-left: 58.33%; }
    .ml-l-8 { margin-left: 66.66%; }
    .ml-l-9 { margin-left: 75%; }
    .ml-l-10 { margin-left: 83.33%; }
    .ml-l-11 { margin-left: 91.66%; }
    .ml-l-12 { margin-left: 100%; }
}

/* Margin for 1440px screen */
@media only screen and (min-width: 1440px) {
    .ml-xl-1 { margin-left: 8.33%; }
    .ml-xl-2 { margin-left: 16.66%; }
    .ml-xl-3 { margin-left: 25%; }
    .ml-xl-4 { margin-left: 33.33%; }
    .ml-xl-5 { margin-left: 41.66%; }
    .ml-xl-6 { margin-left: 50%; }
    .ml-xl-7 { margin-left: 58.33%; }
    .ml-xl-8 { margin-left: 66.66%; }
    .ml-xl-9 { margin-left: 75%; }
    .ml-xl-10 { margin-left: 83.33%; }
    .ml-xl-11 { margin-left: 91.66%; }
    .ml-xl-12 { margin-left: 100%; }
}

/* Margin for 1920px screen */
@media only screen and (min-width: 1920px) {
    .ml-xxl-1 { margin-left: 8.33%; }
    .ml-xxl-2 { margin-left: 16.66%; }
    .ml-xxl-3 { margin-left: 25%; }
    .ml-xxl-4 { margin-left: 33.33%; }
    .ml-xxl-5 { margin-left: 41.66%; }
    .ml-xxl-6 { margin-left: 50%; }
    .ml-xxl-7 { margin-left: 58.33%; }
    .ml-xxl-8 { margin-left: 66.66%; }
    .ml-xxl-9 { margin-left: 75%; }
    .ml-xxl-10 { margin-left: 83.33%; }
    .ml-xxl-11 { margin-left: 91.66%; }
    .ml-xxl-12 { margin-left: 100%; }
}
/*
.box-shadow-1 {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.07),
    0 5px 15px 0 hsla(0, 0%, 0%, 0.1);
}
*/
.box-shadow-2 {
    box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.19),
    0 6px 6px hsla(0, 0%, 0%, 0.23);
}
/*
.box-shadow-3 {
    box-shadow: 0 14px 28px hsla(0, 0%, 0%, 0.25),
    0 10px 10px hsla(0, 0%, 0%, 0.22);
}

.box-shadow-4 {
    box-shadow: 0 19px 38px hsla(0, 0%, 0%, 0.30),
    0 15px 12px hsla(0, 0%, 0%, 0.22);
}

.box-shadow-5 {
    box-shadow: 0 0 8px 0 hsla(0, 0%, 0%, 0.2),
    0 0 0 1px hsla(0, 0%, 0%, 0.08);
}
*/
.box-shadow-6 {
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.16),
    0 2px 10px 0 hsla(0, 0%, 0%, 0.12);
}

.w-full {
    width: 100%;
}

.p-4 {
    padding: var(--padding-4);
}
.py-4 {
    padding: 0 var(--padding-4);
}
.mt-4 {
    margin-top:1rem;
}

.display-block {
    display: block;
}

.border {
    border: 1px solid #ccc;
}

.border-bottom {
    border-top: none;
    border-left: none;
    border-right: none;
}

.border-none {
    border: none;
}

.float-right {
    float: right;
}

.button {
    line-height: var(--line-height);
    font-size: var(--main-font-size);
    padding: 0 1rem;
    height: 3rem;

}

label {
    line-height: var(--line-height);
    text-indent: 0;
    font-family: var(--main-font);
    font-size: var(--main-font-size);
}

.indent-0 {
    text-indent: 0;
}

input {
    padding:0;
    line-height: var(--line-height);
    font-family: var(--main-font);
    font-size: var(--main-font-size);
}

.small-text {
    font-family: var(--main-font);
    font-size: var(--small-font-size);
    text-indent: 0;
}

.checkbox-underline {
    text-indent: 2.25rem;
    line-height: 0;
}

.line-height-3rem {
    line-height: 3rem;
}

.line-height-4rem {
    line-height: 4rem;
}
.modal{
    line-height: 2rem;
}

.line-height-5rem {
    line-height: 5rem;
}

.text-indent-1rem {
    text-indent: 1rem;
}

.text-align-left {
    text-align: left;
}

.bg-hover-grey:hover {
    background: #cccccc;
}

.bg-primary:hover {
    background: #ffffff;
    border: 1px solid #0039a6 !important;
}

.bg-primary-text:hover {
    color: #0039a6;
}

.float-right {
    float: right;
}

.height-12 {
    height: 3rem;
 }

.mr-4 {
    margin-right:1rem;
}
.ml-4 {
    margin-left:1rem;
}

.btn-pagination {
    height: 2rem;
    display: block;
    float: left;
    margin: 0 0.5rem;
}

.btn {
    cursor: pointer;
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: Roboto,-apple-system,system-ui,"Segoe UI","Helvetica Neue",Ubuntu,sans-serif;
    box-sizing: border-box;
    border-radius: 6px;
    border-width: 0;
    line-height: 1.15;
    padding: 0 1rem;
}

.btn-default {
    background-color: #dddddd;
    color: #000000;
}
.btn-primary {
    background-color: #405cf5;
    color: #fff;
}
.btn-default, .btn-primary {
    backface-visibility: hidden;
    font-size: 100%;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
}

.btn:disabled {
    cursor: default;
}
